include LICENSE
include README.md
include llms.txt
include requirements.txt
include requirements-dev.txt
recursive-include copyright_deposit/assets *
recursive-include tests *.py
recursive-include docs *
global-exclude __pycache__ *.py[cod]
